/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/* HEADER */
header {
  background-color: rgb(179, 236, 236);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px;
}
header div {
  display: inline-block;
}
header div .logo {
  display: flex;
  margin-left: 1rem;
  width: 20%;
  height: auto;
}
header div .navbar {
  background-color: rgb(179, 236, 236);
  border-radius: 10px;
}
header div nav div .navbar-toggler {
  background-color: whitesmoke;
  border: solid 2px;
}
header div nav div .nav-link {
  margin-left: 7px;
  margin-right: 7px;
}
header div nav div .nav-link:hover {
  transform: scale(1.3, 1.3);
  font-weight: 550;
  border: solid 1px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  height: 90px;
  background-color: rgb(179, 236, 236);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px;
}
footer div .logo {
  display: flex;
  margin-left: 1rem;
  width: 20%;
  height: auto;
}
footer .redes {
  margin: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* IMAGENES FONDO */
.absolute {
  position: relative;
}
.absolute .item-absolute {
  color: rgb(27, 25, 25);
  position: absolute;
  width: 25%;
  top: 50px;
  left: 30px;
}
.absolute .foto-fondo {
  width: 100%;
  height: auto;
}

/* HOME */
.home {
  width: 90%;
  margin: 5%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px outset black;
}
.home .h-home {
  text-align: center;
  padding: 5% 15% 5% 15%;
}
.home .img-home {
  width: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.home .p-home {
  font-style: oblique;
  text-align: center;
  padding: 5% 15% 5% 15%;
}

/* NOSOTROS */
.nosotros {
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 2, 1fr;
  row-gap: 1rem;
}
.nosotros .dato {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}
.nosotros .dato div .img-equipo {
  width: 60vh;
  margin-left: 100px;
  border: solid;
  border-radius: 2px;
}
.nosotros .dato .div-equipo {
  margin-right: 5%;
}
.nosotros .dato .div-equipo .equipo {
  margin-left: 30px;
  text-align: start;
}
.nosotros div .estudio {
  margin: 50px;
  text-align: end;
}
.nosotros div .img-estudio {
  width: 60vh;
  margin-right: 100px;
  border: solid;
  border-radius: 2px;
}

@media screen and (max-width: 1024px) {
  .nosotros {
    margin: 0px;
  }
  .nosotros .dato {
    margin: 30px 0px 30px 0px;
    width: 70vh;
    align-items: center;
    background-color: white;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .nosotros .dato div .equipo {
    margin: 1rem;
    text-align: center;
  }
  .nosotros .dato div .img-equipo {
    margin: 0px;
    width: 50vh;
    align-items: center;
    justify-content: center;
  }
  .nosotros .dato div .estudio {
    margin: 1rem;
    text-align: center;
  }
  .nosotros .dato div .img-estudio {
    margin: 0px;
    width: 50vh;
    align-items: center;
    justify-content: center;
  }
}
/* SERVICIOS */
.servicios {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.servicios .div-generico {
  text-align: center;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.servicios .div-generico img {
  width: 25%;
}
.servicios .div-generico .tipo-servicio {
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  .servicios {
    padding: 2rem 6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .servicios {
    padding: 2rem 6rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
  }
  .servicios .div-generico img {
    width: 15%;
    margin: 1rem;
  }
}
/* PROYECTOS */
.proyectos {
  margin: 50px;
}
.proyectos div .num-proyecto {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 600;
  border-bottom: solid black;
}
.proyectos div .proyecto {
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;
  row-gap: 1rem;
}
.proyectos div .proyecto .img-proyecto {
  width: 50vh;
  height: auto;
  border: solid;
  border-radius: 1px;
  margin: 10px;
}
.proyectos div .proyecto .img-proyecto:hover {
  transition: 1s;
  transform: scale(1.3, 1.3);
  border-radius: 20px;
}
.proyectos div .p-proyectos {
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .proyecto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
  }
  .proyecto .img-proyecto {
    margin: 5px;
    width: 50vh;
    align-items: center;
    justify-content: center;
  }
  .proyecto .img-proyecto:hover {
    transform: none;
    border-radius: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
