*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
}

header{
    background-color: rgb(179, 236, 236);
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px;
}

header div {
    display: inline-block;
}

.logo {
    display: flex;
    margin-left: 20px;
    width: 20%;
    height: auto;
}

.nav-link{
    margin-left: 7px;
    margin-right: 7px;
}
.nav-link:hover{
    transform: scale(1.3, 1.3);
    font-weight: 550;
    border: solid 1px;
    border-radius: 10px;
}

header div nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    
}

.navbar{
    background-color: rgb(179, 236, 236);
}


.navbar-toggler{
    background-color: whitesmoke;
    border: solid 2px;
}

/* HOME */

.absolute{
    position: relative;
}

.item-absolute {
    color: rgb(27, 25, 25);
    position: absolute;
    width: 25%;
    top: 50px;
    left: 30px;
}

.foto-fondo{
    width: 100%;
    height: auto;
}

.home{
    width: 90%;
    margin: 5%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px outset black;

}

.h-home {
    text-align: center;
    padding: 5% 15% 5% 15%;
}

.img-home{
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.p-home{
    font-style: oblique;
    text-align: center;
    padding: 5% 15% 5% 15%;
}

footer {height: 90px;
    background-color:rgb(179, 236, 236);
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px;
    }



.redes {
    margin: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
}


h2{
    margin-top: 30px;
    margin-left: 20px;
    padding: 15px;
}


/* NOSOTROS */

.nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2,1fr);
    row-gap: 1rem;
}

p{
    margin: 30px;
}

.dato {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
}

.div-equipo{
    margin-right: 5%;
}

.equipo{
    margin-left: 30px;
    text-align: start;
}

.img-equipo{
    width: 60vh;
    margin-left: 100px;
    border: solid;
    border-radius: 2px;
}


.estudio{
    margin: 50px;
    text-align: end;
}

.img-estudio{
    width: 60vh;
    margin-right: 100px;
    border: solid;
    border-radius: 2px;
}

@media screen and (max-width: 1024px){
    .nosotros{
        margin: 0px;
    }
    .dato{
        margin: 30px 0px 30px 0px;
        width: 70vh;
        align-items: center;
        background-color: white;
        padding: 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .equipo{
        margin: 1rem;
        text-align: center;
    }
    .img-equipo{
        margin: 0px;
        width: 50vh;
        align-items: center;
        justify-content: center;
    }
    .estudio{
        margin: 1rem;
        text-align: center;
    }
    .img-estudio{
        margin: 0px;
        width: 50vh;
        align-items: center;
        justify-content: center;
    }
}


/* SERVICIOS */

.servicios{
    padding: 20px;
    text-align: center;
    align-items: center;
}

.servicios{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    row-gap: 1rem;
}


main .div-generico{
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

main .div-generico img{
    width: 25%;
}

.tipo-servicio{
    padding: 1rem;
}


@media screen and (min-width: 600px) {
    .servicios{
        padding: 2rem 6rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 5rem;
        row-gap: 5rem;
    }
}


@media screen and (min-width:1024px){
    .servicios{
        padding: 2rem 6rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 5rem;
        row-gap: 5rem;
    }
    main .div-generico img{
        width: 15%;
        margin: 1rem;
    }
    
}


/* PROYECTOS */

.proyectos{
    margin: 50px;
}

.num-proyecto {
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 600;
    border-bottom: solid black;
}

.proyecto{
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (1, 1fr);
    row-gap: 1rem;
}

.img-proyecto{
    width: 50vh;
    height: auto;
    border: solid;
    border-radius: 1px;
    margin: 10px;

}

.img-proyecto:hover{
    transition: 1s;
    transform: scale(1.3, 1.3);
    border-radius: 20px;
}
.p-proyectos{
    text-align: center;
    font-weight: 600;
}

.galeria{
    display: none;
}

@media screen and (max-width: 1024px){
    .proyecto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1rem;
    }
    .img-proyecto{
        margin: 5px;
        width: 50vh;
        align-items: center;
        justify-content: center;
    }
    .img-proyecto:hover{
        transform: none;
        border-radius: 0px;
    }
}



/* CONTACTO */

.contacto {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (1, 1fr);
    row-gap: 1rem;               
}


.mapa {              
    height: 400px;
    width: 400px;               
    border: solid 2px;                
}

.datos-contacto {
    list-style: none;            
    text-align: center;
    padding: 0;
    margin: 0;
}

.datos-contacto li {
    margin-bottom: 10px;         
    font-size: 16px;
}

.p-contacto{
    text-align: center;
    padding: 10px;
}

main div aside ul li{
    padding: 15px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

.formulario{
    margin-left: 25%;
    margin-right: 25%;
}

.boton{
    padding: 10px;
    margin: 15px;
}
.boton:hover{
    transition: 0.5s;
    transform: scale(1.2, 1.2); 
}

@media screen and (max-width: 1024px){
    .contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }
    .mapa{
        margin: 2rem;
    }
    .datos-contacto{
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}