//import de variables
@import "../utilidades/variables";
//import de mixin
@import "../utilidades/mixin";

/* HEADER */

header{
    background-color: $color-header;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px;
    div{
        display: inline-block;
        .logo{
            @include logo;
        }
    }
    div{
        .navbar{
            background-color: $color-header;
            border-radius: 10px;
        }
        nav{
            div{
                
                .navbar-toggler{
                    background-color: $color-fondo;
                    border: solid 2px;
                    }
                .nav-link{
                    margin-left: 7px;
                    margin-right: 7px;
                    &:hover{
                        transform: scale(1.3, 1.3);
                        font-weight: 550;
                        border: solid 1px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}


/* FOOTER */

footer{
    height: 90px;
    background-color:$color-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px;
    div{
        .logo{
            @include logo;
        }
    }
    .redes{
        margin: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

/* IMAGENES FONDO */

.absolute{
    position: relative;
    .item-absolute {
        color: rgb(27, 25, 25);
        position: absolute;
        width: 25%;
        top: 50px;
        left: 30px;
    }
    .foto-fondo{
        width: 100%;
        height: auto;
    }
}
