//import de variables
@import "../utilidades/variables";
//import de mixin
@import "../utilidades/mixin";

.contacto {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (1, 1fr);
    row-gap: 1rem;
    div{
        .mapa{
            height: 400px;
            width: 400px;               
            border: solid 3px; 
        }
    }
    div{
        aside{
            .datos-contacto{ 
                list-style: none;            
                text-align: center;
                padding: 0;
                margin: 2vw;
                li{
                    margin-top: 5vh;
                    margin-bottom: 5vh;         
                    font-size: 20px;
                }
            }
        }
    }
}
.p-contacto{
    text-align: center;
    padding: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
form{
    text-align: center;
    margin-bottom: 20px;
    .formulario{
        margin-left: 25%;
        margin-right: 25%;
    }
    .boton{
        padding: 10px;
        margin: 15px;
        &:hover{
            transition: 0.5s;
            transform: scale(1.2, 1.2); 
        }
    }
}

@media screen and (max-width: 1024px){
    .contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
        div{
            .mapa{
                margin: 2rem;
            }
        }
        div{
            aside{
                background-color: white;
                padding-top: 1rem;
                padding-bottom: 1rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}