//import de variables
@import "../utilidades/variables";
//import de mixin
@import "../utilidades/mixin";

/* NOSOTROS */

.nosotros{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2,1fr);
    row-gap: 1rem;
    .dato{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        div{
            .img-equipo{
                width: 60vh;
                margin-left: 100px;
                border: solid;
                border-radius: 2px;
            }
        }
        .div-equipo{
            margin-right: 5%;
            .equipo{
                margin-left: 30px;
                text-align: start;
            }
        }
    }
    div{
        .estudio{
            margin: 50px;
            text-align: end;
        }
    }
    div{
        .img-estudio{
            width: 60vh;
            margin-right: 100px;
            border: solid;
            border-radius: 2px;
        }
    }
}

@media screen and (max-width: 1024px){
    .nosotros{
        width: 100%;
        margin: 0;
        padding: 0;
        .dato{
            margin: 30px;
            width: 90vw;
            height: auto;
            background-color: white;
            padding: 1.5rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            div{
                .img-equipo{
                    @include imagenes-nosotros;
                }
            }
            div{
                .equipo{
                    @include info-nosotros;
                }
            }
            div{
                .estudio{
                    @include info-nosotros;
                }
                .img-estudio{
                    @include imagenes-nosotros;
                }
            }
        }
    }

}